# Object files
*.o
*.ko
*.lo
.
# Libraries
*.lib
*.a
*.la
.deps
.libs

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.pyc

Makefile
Makefile.in
build/
bindings/python/watchy.c
*.log
src/test
src/watcher
src/config.h.in~
libtool
config.h
config.h.in
configure
src/watchy.pc
aclocal.m4
autom4te.cache/
config.status
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
config/ylwrap
src/stamp-h1
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
