doctype html
html
  head
    title="Observant"
    link(rel='stylesheet', href='/js/lib/bootstrap/dist/css/bootstrap.min.css')
    script(src='/js/lib/requirejs/require.js', data-main='/js/observant.js')
  body
    block content