<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee     http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Observant</display-name>

    <listener>
        <listener-class>io.github.observant.ObservantContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>hosts</servlet-name>
        <servlet-class>io.github.observant.servlets.HostResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hosts</servlet-name>
        <url-pattern>/host/*</url-pattern>
    </servlet-mapping>
</web-app>