<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Graph</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>

    <script type="text/javascript">
     $(function () {
       var anim = true
       function render () {
	 function graph (rdata) {
	   var data = {
	     labels : rdata ['data']['labels'],
	     datasets : [
	       {
		 fillColor : "rgba(220,220,220,0.5)",
		 strokeColor : "rgba(220,220,220,1)",
		 pointColor : "rgba(220,220,220,1)",
		 pointStrokeColor : "#fff",
		 data : rdata ['data']['data']
	       }
	     ]
	   }
	   var ctx = $("#myChart").get(0).getContext("2d");
	   new Chart(ctx).Line (data, {animation:anim})
	   anim = false
	 }
	 $.ajax({
	   url: "api/graph/test",
	   type: "GET",
	   dataType: "json",
	   success: graph
	 });
       }
       render ();
       setInterval (render, 1000)
     });
    </script>

  </head>

  <body>
    <canvas id="myChart" width="640" height="480"></canvas>
  </body>
</html>
