<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stats Node {{ node }}</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/deps/css/index.css" rel="stylesheet" type="text/css">
    <link href="/deps/css/log.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
     $(function () {
       var gkey = '{{ node }}'
       function fillSideBar () {
	 function keyFetch (keys) {
	   $('.nav.nav-sidebar').empty ()
	   var ovr = "<li><a href=\"/\">Overview</a></li>"
	   $('.nav.nav-sidebar').append (ovr)

	   for (var i in keys ["keys"]) {
	     var ikey = keys ["keys"] [i]
	     var tab = ""
	     if (ikey == gkey) {
	       tab = "<li class=\"active\"><a href=\"__key__\">__key__</a></li>"
	     } else {
	       tab = "<li><a href=\"__key__\">__key__</a></li>"
	     }
	     tab = tab.replace ("__key__", ikey)
	     tab = tab.replace ("__key__", ikey)
	     $('.nav.nav-sidebar').append (tab)
	   }
	 }
	 $.ajax({
	   url: "/api/logs/keys",
	   type: "GET",
	   dataType: "json",
	   success: keyFetch
	 });
       }

       function renderLog () {
	 function logify (data) {
	   $('.table.table-body.log').empty ()
	   var ent = ''
	   for (var i in data ['data']) {
	     var elem = data ['data'] [i]
	     ent += '<tr><td>' + elem ['message'] + '</td></tr>'
	   }
	   $('.table.table-body.log').append (ent)
	 }

	 function wrapper () {
	   $.ajax ({
	     url: "/api/logs/data/"+ gkey,
	     type: "GET",
	     dataType: "json",
	     success: logify
	   });
	 }
	 wrapper ();
	 setInterval (wrapper, 1000);
       }

       fillSideBar ();
       setInterval (fillSideBar, 10000);
       renderLog ();
     });
    </script>

  </head>

  <body>

     <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Watchy Stats Server</a>
        </div>
      </div>
    </div>
   
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  <h1 class="page-header">Dashboard {{ node }}</h1>
	  
	  <table class="table table-striped">
	    <thead>
	      <tr>
		<th>Message</th>
	      </tr>
	    </thead>
	    <tbody class="table table-body log">
	    </tbody>
	  </table>
	  
        </div>
      </div>
    </div>

  </body>
</html>
