<div class="container">

    <!-- Overview -->
    <div class="row">

        <div class="col-md-4">
            <div class="tile">
                <div class="homeicons">
                    <span class="fui-github"></span>
                </div>
                <h3>Open Source</h3>
                <p>FringeTV is an Open Source Project. Visit our <a href="https://github.com/redbrain/yogurt"> GitHub page</a> for more info about the project.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="tile">
                <div class="homeicons">
                    <span class="fui-heart"></span>
                </div>
                <h3>It's Free!</h3>
                <p>FringeTV will be free and require no login. Making it easier than before to find the content you want.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="tile">
                <div class="homeicons">
                    <span class="fui-upload"></span>
                </div>
                <h3>Content</h3>
                <p>All content here links to their respective provider. No content is hosted or copied and shared here.</p>
            </div>
        </div>

    </div>
</div>

