<div class="container-fluid">

    <h4>{{host}}</h4>
    <hr/>

    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Usage (%)</th>
                    <th>Cores</th>
                    <th>Memory (mb)</th>
                    <th>Processes</th>
                    <th>Machine</th>
                    <th>Platform</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{usage}}</td>
                    <td>{{cores}}</td>
                    <td>{{memory}}</td>
                    <td>{{pids}}</td>
                    <td>{{machine}}</td>
                    <td>{{platform}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br/>
    <div class="container-fluid">
        <div id="usage" class="col-md-6 col-xs-12"></div>
        <div id="memory" class="col-md-6 col-xs-12"></div>
    </div>
    <br/>
    <div class="container-fluid"><div id="cpu" class="col-md-12 col-xs-12"></div></div>
    <br/>

    <hr/>
    <h4>Processes</h4>

    <hr/>
    <div class="container-fluid">

        <div ng-repeat="proc in procs">

            <div class="col-md-4">
                <a href="#/proc/{{proc.payload.key}}?store={{store}}&key={{host}}">
                    <div class="tile">
                        {{proc.payload.key}}
                        <div ng-if="proc.alive">
                            <span class="label label-success">Online</span>
                        </div>
                        <div ng-if="!proc.alive">
                            <span class="label label-danger">Offline</span>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>

</div>